@import url("https://use.typekit.net/otr5ods.css");

:root {
  --main: #A87163;
  --secondary: #F7E8E4;
  --tertiary: #524439;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--secondary);



  /* DELETE IT */
  overflow: hidden;

  
}

.linkIcon {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
